/* Variables */

:root {
	--primary-background-color: #26292b;
	--secondary-background-color: #181a1b;
	--heading-color: #e8e6e3;
	--text-color: #9d9588;
}


/* Base */

body {
	background: var(--primary-background-color);
}

.section-heading {
  text-align: center;
  margin: 0 auto 35px auto;
  font-size: 36px;
}

/* Typography */

body {
	color: var(--text-color);
	font-family: 'Comfortaa', Arial, sans-serif;
	line-height: 1.5;
	font-size: 18px;
}

h1, h2, h3 {
    clear: both;
    font-family: 'Consolas', serif;
    letter-spacing: 2px;
}

h2 {
    color: var(--heading-color);
}

p {
    margin-bottom: 1em;
    color: var(--text-color);
}

img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}

/* Navigation */

header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 20px 35px;
  }
  
  header h1 {
	font-weight: bold;
	font-size: 36px;
	margin: 0;
	color: var(--heading-color);
  }
  
  header a {
	text-decoration: none;
	color: var(--primary-color);
  }
  
  header nav {
	margin: 0;
  }
  
  header nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	list-style: none;
  }
  
  header nav ul li a {
	padding: 0px 15px;
	font-size: 2vw;
  }

/* About */

.about {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	padding: 0px 50px 40px;
}

/* Work */

.work-cards-large {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }

.work-cards-normal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	margin: 0 7% 0 7%;
 }

.work-card-normal {
	flex: 0 1 45%;
	background: var(--secondary-background-color);
	margin-bottom: 2em;	
}

.work-card-large {
	flex: 0 50%;
	background: var(--secondary-background-color);
	margin-bottom: 2em;	
}

.work-card-normal a, .work-card-large a {
	color: black;
	text-decoration: none;
}

.work-card-content {
	padding: 20px;
}

.work-card-content h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: bold;
}

.work-card-content p {
	font-size: 80%;
}

/* Contact */

.contact {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-bottom: 40px;
	align-items: center;
}

.contact a {
	color: var(--text-color);
	text-decoration: none;
}

/* MEDIA QUERY: Smaller Desktops and Smaller */
@media screen and (max-width: 980px) {

}

/* MEDIA QUERY: Tablets and Smaller */
@media screen and (max-width: 768px) {

}

/* MEDIA QUERY: Mobile Phones and Smaller */
@media screen and (max-width: 575px) {

}
