/* Variables */

:root {
	--primary-background-color: #ffffff;
	--secondary-background-color: #f8f9fa;
}

.section-heading {
  text-align: center;
  margin: 0 auto 30px auto;
}

/* About */

.about {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}

/* Work */

.work {
	margin: 15px;
}

.work-cards-large {
	display: flex;
	justify-content: center;
}


.work-cards-normal {
	display: flex;
	justify-content: space-around;
}

.card {
	width: 45vw;
	height: auto;
}

.card-body {
	background-color: var(--secondary-background-color);
}

.card a {
	text-decoration: none;
	color: #181a1b;
}

/* Contact */

.contact {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-bottom: 40px;
	align-items: center;
}

.contact a {
	color: var(--text-color);
	text-decoration: none;
	font-size: large;
}

/* MEDIA QUERY: Smaller Desktops and Smaller */
@media screen and (max-width: 980px) {

}

/* MEDIA QUERY: Tablets and Smaller */
@media screen and (max-width: 768px) {

}

/* MEDIA QUERY: Mobile Phones and Smaller */
@media screen and (max-width: 575px) {

}
